API-Clinica/obj/Debug/net8.0/API-Clinica.GeneratedMSBuildEditorConfig.editorconfig
API-Clinica/obj/Debug/net8.0/API-Clinica.csproj.AssemblyReference.cache
API-Clinica/obj/Debug/net8.0/API-Clinica.GeneratedMSBuildEditorConfig.editorconfig
API-Clinica/obj/Debug/net8.0/API-Clinica.GeneratedMSBuildEditorConfig.editorconfig
API-Clinica/obj/Debug/net8.0/API-Clinica.GeneratedMSBuildEditorConfig.editorconfig
API-Clinica/obj/Debug/net8.0/API-Clinica.AssemblyInfo.cs
API-Clinica/appsettings.json
API-Clinica/Migrations/20241107224538_IdentityMigrationnn.cs
API-Clinica/Migrations/20241107223745_IdentityMigration2.Designer.cs
API-Clinica/Migrations/20241107224538_IdentityMigrationnn.Designer.cs
API-Clinica/Migrations/20241107223745_IdentityMigration2.cs
API-Clinica/Migrations/ApplicationDbContextModelSnapshot.cs
API-Clinica/appsettings.json
API-Clinica/appsettings.json
API-Clinica/Migrations/Clinica/20241107223855_IdentityMigration2.cs
API-Clinica/Migrations/Clinica/20241107223855_IdentityMigration2.Designer.cs
API-Clinica/Migrations/Clinica/20241107224602_IdentityMigrationnn.cs
API-Clinica/Migrations/Clinica/20241107224602_IdentityMigrationnn.Designer.cs
API-Clinica/obj/API-Clinica.csproj.nuget.dgspec.json
API-Clinica/obj/API-Clinica.csproj.nuget.g.props
API-Clinica/obj/project.assets.json
API-Clinica/obj/project.nuget.cache
API-Clinica/obj/Debug/net8.0/API-Clinica.AssemblyInfoInputs.cache
API-Clinica/obj/Debug/net8.0/API-Clinica.AssemblyInfoInputs.cache
API-Clinica/obj/Debug/net8.0/API-Clinica.assets.cache
API-Clinica/obj/API-Clinica.csproj.nuget.g.props
API-Clinica/obj/Debug/net8.0/API-Clinica.GeneratedMSBuildEditorConfig.editorconfig
API-Clinica/obj/Debug/net8.0/API-Clinica.GeneratedMSBuildEditorConfig.editorconfig
API-Clinica/.env
